<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout">
        <environmentVariables />
      </aspNetCore>
    </system.webServer>
  </location>
  <appSettings>
    <add key="MicrosoftAppId" value="e8e3e72d-0dad-452c-b17d-033bcd843ca7" />
    <add key="MicrosoftAppPassword" value="_vG8{#x5&gt;G(IQ}ws:SF5Avqm7^K57Oi" />
  </appSettings>
</configuration>
<!--ProjectGuid: 0793F52D-82C5-4C6E-967B-606676CF8B17-->